@import "../../../shared/variables";

.myPro {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  justify-content: space-evenly;
}

.Title {
  font-family: "Inter", sans-serif; /* Ensure 'Inter' is available as a web font or installed locally */
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  text-align: left;
}

.nav-underline .nav-link {
  color: rgba(110, 109, 107, 1); /* Inherit the text color */
  /* Remove the underline by default */
}

.nav-underline .nav-link.active {
  color: rgba(135, 30, 53, 1); /* Change text color to red when active */
  border-bottom: 2px solid rgba(135, 30, 53, 1); /* Add a red underline when active */
}

.custom-form-control-small {
  width: 368px;
  height: 56px;
  padding: 0px 0px 0px 20px;

  border-radius: 8px 8px 8px 8px;
  border-width: 1px 1px 1px 1px;
}

.buttonUpdate {
  padding: 16px 32px;
  color: white;
  background-color: map-get($theme-colors, "purple");
}
