<div
  class="tab-pane fade show active"
  id="list-settings"
  role="tabpanel"
  aria-labelledby="list-settings-list"
>
  <div class="myPro">
    <div class="Title">Settings</div>
    <div class="undernave">
      <ul class="nav nav-underline">
        <li class="nav-item">
          <a class="nav-link disabled" aria-current="page">Profile</a>
        </li>
        <li class="nav-item disabled">
          <a class="nav-link active disabled" aria-current="page"
            >Change password</a
          >
        </li>
      </ul>
    </div>

    <div class="formBeside">
      <form
        [formGroup]="passwordForm"
        (ngSubmit)="onSubmit(passwordForm)"
        class="pass-form w-100 pe-5"
      >
        <div class="d-flex gap-5 w-100">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"
              >Current password</label
            >
            <div class="password-container">
              <input
                [type]="showPassword ? 'text' : 'password'"
                class="form-control custom-form-control-small"
                id="exampleFormControlInput1"
                placeholder="Type here"
                formControlName="oldPassword"
                autocomplete="off"
                class="w-100 rounded border ps-4 py-3"
              /><span class="icon" (click)="togglePasswordVisibility()">
                <i
                  class="fa pe-3"
                  [ngClass]="
                    showPassword
                      ? 'fa-regular fa-eye'
                      : 'fa-regular fa-eye-slash'
                  "
                ></i>
              </span>

              <br />
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput2" class="form-label"
              >New password</label
            >
            <div class="password-container">
              <input
                [type]="showNewPassword ? 'text' : 'password'"
                class="form-control custom-form-control-small"
                id="exampleFormControlInput2"
                placeholder="Type here"
                formControlName="newPassword"
                autocomplete="off"
                class="w-100 rounded border ps-4 py-3"
              /><span class="icon" (click)="toggleNewPasswordVisibility()">
                <i
                  class="fa pe-3"
                  [ngClass]="
                    showNewPassword
                      ? 'fa-regular fa-eye'
                      : 'fa-regular fa-eye-slash'
                  "
                ></i>
              </span>

              <br />
            </div>
            @if(passwordForm.get('newPassword')?.errors?.['passwordStrength'] &&
            passwordForm.get('newPassword')?.touched){
            <small class="error">
              Password must be at least 6 characters long and include at least
              one uppercase letter, one lowercase letter, and one special
              character (e.g., $%^).
            </small>
            }
          </div>
        </div>
        <div>
          <button type="submit" class="btn buttonUpdate mt-4">
            Update Password
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
