@import "../variables";

section {
  background-color: #f3e9eb;
  @include respond-to(x-large) {
    #mobileId {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .mobile {
      max-width: 400px;
    }
    div {
      h2 {
        font-size: 35px;
      }
    }
  }
  @include respond-to(small) {
    width: fit-content;
  }
}

.mobile {
  max-width: 595px;
}

div {
  h5 {
    color: map-get($map: $theme-colors, $key: "purple");
    font-weight: 600;
  }
  h2 {
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    width: 560px;
  }
  p {
    font-weight: 500;
  }
}

#mobileId {
  max-width: 1250px;
}

li {
  gap: 12px;
  p {
    font-weight: 600;
  }
}

.buttonDiv {
  width: 100px;
  img {
    &:hover {
      cursor: pointer;
    }
  }
}

svg {
  margin-top: 3px;
}
