<div
  class="tab-pane fade show active"
  id="list-messages"
  role="tabpanel"
  aria-labelledby="list-messages-list"
>
  <div class="myPro">
    <div class="Title">Settings</div>
    <div class="undernave">
      <ul class="nav nav-underline">
        <li class="nav-item">
          <a class="nav-link active disabled" aria-current="page">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-current="page">Change password</a>
        </li>
      </ul>
    </div>

    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Full Name</label>
      <input
        type="email"
        class="form-control custom-form-control-large"
        id="exampleFormControlInput1"
        placeholder="Jonathon Smith "
      />
    </div>

    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Country</label>
      <input
        type="email"
        class="form-control custom-form-control-large"
        id="exampleFormControlInput1"
        placeholder="UK"
      />
    </div>

    <div class="formBeside">
      <div class="mb-3">
        <label for="exampleFormControlInput2" class="form-label">Phone</label>
        <input
          type="email"
          class="form-control custom-form-control-small"
          id="exampleFormControlInput2"
          placeholder="+880125412624"
        />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput2" class="form-label">Email</label>
        <input
          type="email"
          class="form-control custom-form-control-small"
          id="exampleFormControlInput2"
          placeholder="jhonathonsmith@gmail.com"
        />
      </div>
    </div>

    <div>
      <button type="button" class="btn buttonUpdate">
        Update Profile
      </button>
    </div>
  </div>
</div>
