<div class="setL">



    <div class="row">
        <div class="col-3 ">
          <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-home-list" data-bs-toggle="list" href="#list-home" role="tab" aria-controls="list-home">My profile</a>
            <a class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list" href="#list-profile" role="tab" aria-controls="list-profile">Payments history</a>
            <a class="list-group-item list-group-item-action" id="list-messages-list" data-bs-toggle="list" href="#list-messages" role="tab" aria-controls="list-messages">Settings</a>
            <a class="list-group-item list-group-item-action" id="list-settings-list" data-bs-toggle="list" href="#list-settings" role="tab" aria-controls="list-settings">Change password</a>
          </div>
        </div>
        <div class="col-8 ">
          <div class="tab-content" id="nav-tabContent">
           
           
            <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
              
                <div class="myPro">
                    <div> </div>
            <div class="Title">My Profile</div>
            <div class="parent"> <div class="ch1B">10000EGP</div><div class="ch2B">Balance</div> </div>
            
            <div class="Pform"> 
<div class="ch1F">
<div class="ch1Ffont">FirstName:</div>
<div class="ch1Ffont">Email:</div>
<div class="ch1Ffont">Phone:</div>
<div class="ch1Ffont">Gender:</div>
</div>

<div class="ch2F">

    <div class="ch2Ffont">Jonathon Smith</div>
<div class="ch2Ffont">jhonathonsmith&#64;gmail.com</div>
<div class="ch2Ffont">+880125412624</div>
<div class="ch2Ffont">Male</div>

          </div>
          </div>
          
        </div>        
        </div>

            
            <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                <div class="myPro">
                    <div> </div>
            <div class="Title">Payment History</div>
            <div class="acc">
            <div class="accNum">Account Number: 6785 4987 6543</div>

            <div class="accDet"> 

            <div class="half1">
            <div class="ad">Account Details</div>
            <div class="rn">Recipient Name</div>
            

            </div>
            <div class="half2">
                <div class="ad">Total Price : 1000EGP</div>
                <div class="rn">Johnathon Smith</div>
            </div>
            
                
                

           <!-- accdet -->
            </div>

<!-- acc -->
        </div>

<!-- repeted -->
<div class="acc">
    <div class="accNum">Account Number: 6785 4987 6543</div>

    <div class="accDet"> 

    <div class="half1">
    <div class="ad">Account Details</div>
    <div class="rn">Recipient Name</div>
    

    </div>
    <div class="half2">
        <div class="ad">Total Price : 1000EGP</div>
        <div class="rn">Johnathon Smith</div>
    </div>
    
        
        

   <!-- accdet -->
    </div>

<!-- acc -->
</div>


                <!-- myPro div -->
                </div>
                <!--close div  -->
            </div>
             

            <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
                <div class="myPro">
                    <div></div>
                    <div class="Title">Settings</div>
                    <div class="undernave">
                      <ul class="nav nav-underline">
                        <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="#" >Profile</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" aria-current="page" href="#">Change password</a>
                        </li>
                      </ul>





             </div>
            

                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Full Name</label>
                    <input type="email" class="form-control custom-form-control-large" id="exampleFormControlInput1" placeholder="Jonathon Smith ">
                  </div>
            
            
              

                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Country</label>
                    <input type="email" class="form-control custom-form-control-large" id="exampleFormControlInput1" placeholder="UK">
                  </div>

              

                <div class="formBeside">
                    <div class="mb-3">
                        <label for="exampleFormControlInput2" class="form-label">Phone</label>
                        <input type="email" class="form-control custom-form-control-small" id="exampleFormControlInput2" placeholder="+880125412624">
                      </div>
                      <div class="mb-3">
                        <label for="exampleFormControlInput2" class="form-label">Email</label>
                        <input type="email" class="form-control custom-form-control-small" id="exampleFormControlInput2" placeholder="jhonathonsmith@gmail.com">
                    </div>
                    </div>

                    <div >
                    <button class="bu2">Update Profile</button>

                    </div>
                
                
                    
                
             
              
              

             <!-- <form action=""> -->
             <!-- <div class="formsizing">

                <div> <label for="Fname" >Full Name</label> </div>
             
             <div class="inmain">  </div> -->
             <!-- <input type="text"> -->
              
               
             



             



<!-- mypro div -->
                </div>
<!-- close div -->
            </div>


            <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
                <div class="myPro">
                    <div> </div>
            <div class="Title">Settings</div>
            <div class="undernave">
                <ul class="nav nav-underline">
                  <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="#">Profile</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Change password</a>
                  </li>
                </ul>
        
             </div> 
             
             <div class="formBeside">
                <div class="mb-3">
                    <label for="exampleFormControlInput2" class="form-label">Current password</label>
                    <input type="email" class="form-control custom-form-control-small" id="exampleFormControlInput2" placeholder="Type here">
                  </div>
                  <div class="mb-3">
                    <label for="exampleFormControlInput2" class="form-label">New password</label>
                    <input type="email" class="form-control custom-form-control-small" id="exampleFormControlInput2" placeholder="Type here">
                </div>
                </div>

                <div>
                <button class="bu2">Update Password</button>

                </div>
                
             


<!-- mypro div -->
                </div>

<!-- close div -->
            </div>




          </div>
        </div>
      
    
      </div>










</div>
