@import "../../shared/variables";

* {
  color: map-get($map: $theme-colors, $key: "black");
}

header {
  background-image: url("../../../../public/background1.png");
  background-color: #f3e9eb;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 96px 96px;
}

h1 {
  font-weight: 600;
  font-size: 48px;
}

ul {
  line-height: 24px;
  .home {
    color: #3c3a37;
    font-weight: 500;
    padding-right: 30px;
  }
  .help {
    color: #871e35;
    font-weight: 500;
  }
}

.needHelp {
  max-width: 565px;
  padding: 80px 0px 100px 0px;
  p {
    color: #3c3a37;
    line-height: 30px;
    padding-top: 20px;
    font-size: 20px;
  }
}
.cardsDiv {
  margin: 80px 0px 100px 0px;
}

.card-icon {
  width: 180px;
  height: auto;
  padding: 0px 10px;
}

h2 {
  color: map-get($map: $theme-colors, $key: "black");
  font-weight: 600;
  font-size: 40px;
}

.back-icon {
  background-color: #f3e9eb;
  padding: 20px 0px;
  margin: 20px 40px;
}

.back-icon1 {
  background-color: #f3e9eb;
  padding: 22px 0px;
  margin: 20px 40px;
}

h5 {
  color: map-get($map: $theme-colors, $key: "black");
  font-weight: 600;
}

h6 {
  color: map-get($map: $theme-colors, $key: "purple");
  font-weight: 500;
}
