<header class="d-flex justify-content-between align-items-center">
  <div
    class="header-section-1 d-flex flex-column justify-content-center align-content-center"
  >
    <p class="p-semi-bold">Simple. Quick. Secure.</p>
    <h1>Send Money Anywhere, Instantly</h1>
    <small class="body-medium" style="width: 428px; height: 48px"
      >Fast, secure, and affordable international money transfers. Get started
      in minutes</small
    >
    <div class="button-section">
      <button class="create-account-button" (click)="(routerLinkPath)">
        <small class="body-medium">{{ buttonContent }}</small>
      </button>
    </div>
  </div>
  <div class="header-section-2 d-flex flex-column">
    @if(loggedIn){
    <div class="balance d-flex flex-column">
      <small class="body-medium balance-text">Current Balance</small>
      <small class="balance-amount">10000EGP</small>
    </div>
    }
    <!-- <small class="send-amount body-medium" style="color: #24221e"
      >Send Amount</small
    >
    <small class="d-flex align-items-center border border-1 body-regular amount"
      >1000</small
    > -->
    <label for="send" class="sendLabel" style="color: #24221e; font-weight: 500"
      >Send Amount</label
    >
    <input
      type="number"
      id="send"
      name="send"
      placeholder="1000"
      formControlName="email"
      class="w-100 rounded border ps-4 py-3"
    />
    <div style="color: #3c3a37">
      <span class="delivery-time body-regular">Delivery Time: </span>
      <span class="body-medium" style="color: #3c3a37">By May 20th</span>
    </div>
    <button type="button" class="btn continue-button">
      <small class="body-medium">Continue</small>
    </button>
    <div class="body-medium" style="color: #898886">
      By Clicking Continue, I'm agree with
      <b style="color: #871e35; opacity: 100%">Terms & Policy</b>
    </div>
  </div>
</header>
<section class="d-flex flex-column justify-content-center align-items-center">
  <div
    class="getting-started d-flex flex-column justify-content-center align-items-center"
  >
    <div
      class="getting-started-header d-flex flex-column justify-content-center align-items-center"
    >
      <p class="getting-started-header-title p-semi-bold">Getting Started</p>
      <p class="getting-started-header-text">
        Lorem Ipsumis simply dummy text of the printing.
      </p>
    </div>
    <div class="getting-started-body d-flex">
      <div class="getting-started-body-child d-flex flex-column">
        <div
          class="getting-started-body-child-img d-flex justify-content-center align-items-center"
        >
          <img src="CreateAccount.png" alt="Create Acount image" />
        </div>

        <h3 class="getting-started-body-child-heading">
          1. <span style="color: #24221e"> Create Account</span>
        </h3>
        <small
          class="body-medium getting-started-body-child-text"
          style="color: #3c3a37"
          >Adipiscing eliId neque mi diam nim etus arcu porta viverra pretium
          auctor ut nam sed.</small
        >
      </div>

      <div class="getting-started-body-child d-flex flex-column">
        <div
          class="getting-started-body-child-img d-flex justify-content-center align-items-center"
        >
          <img src="VerifyIdentity.png" alt="Confirmation image" />
        </div>

        <h3 class="getting-started-body-child-heading">
          2. <span style="color: #24221e"> Confirmation</span>
        </h3>
        <small
          class="body-medium getting-started-body-child-text"
          style="color: #3c3a37"
          >Adipiscing eliId neque mi diam nim etus arcu porta viverra pretium
          auctor ut nam sed.</small
        >
      </div>

      <div class="getting-started-body-child d-flex flex-column">
        <div
          class="getting-started-body-child-img d-flex justify-content-center align-items-center"
        >
          <img src="Payment.png" alt="Payment image" />
        </div>

        <h3 class="getting-started-body-child-heading">
          3. <span style="color: #24221e">Payment</span>
        </h3>
        <small
          class="body-medium getting-started-body-child-text"
          style="color: #3c3a37"
          >Adipiscing eliId neque mi diam nim etus arcu porta viverra pretium
          auctor ut nam sed.</small
        >
      </div>
    </div>
  </div>
</section>
<app-mobile-app></app-mobile-app>
