<nav class="">
  <div class="navBar d-flex justify-content-between">
    <div class="pe-3">
      <h2 class="pt-2">Speedo Transfer</h2>
    </div>
    <div class="d-flex justify-content-center align-items-center">
      <ul class="d-flex pt-3 list-unstyled pageList">
        <a href="#"><li class="px-3">Home</li></a>
        <a href="#"><li class="px-3">Money Transfer</li></a>
        <a href="#"><li class="px-3">My Account</li></a>
        <a href="#"><li class="px-3">Help</li></a>
      </ul>

      <!-- Next Section will be dependent on log-in -->
      <!-- Not Looged In -->
      <!-- <div class="ps-3 d-flex">
        <button type="button" class="btn btn-outline-dark buttonClass">
          Login
        </button>
        <button type="button" class="btn ms-3 buttonReg">Register Now</button>
      </div> -->

      <!-- Logged In -->

      <div class="dropdown">
        <button
          class="btn dropdown-toggle userName"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          aria-haspopup="true"
          (click)="toggleIconVisibility()"
        >
          <span class="userInitials rounded-circle">UN</span>
          User Name
          <span class="icon ps-1" (click)="toggleIconVisibility()">
            <i
              class="fa pe-3"
              [ngClass]="
                iconChange ? 'fa-solid fa-angle-up' : 'fa-solid fa-angle-down'
              "
            ></i>
          </span>
        </button>
        <ul class="dropdown-menu rounded">
          <li class="border-bottom">
            <a class="dropdown-item" href="#">My Account</a>
          </li>
          <li class="border-bottom">
            <a class="dropdown-item" href="#">Payment History</a>
          </li>
          <li class="border-bottom">
            <a class="dropdown-item" href="#">Settings</a>
          </li>
          <li class="border-bottom">
            <a class="dropdown-item" href="#">Change Password</a>
          </li>
          <li>
            <a class="dropdown-item" [routerLink]="['login']">Logout</a>
          </li>
        </ul>
      </div>

      <!-- <div class="dropdown">
        <button class="dropbtn">
          Dropdown
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div> -->
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
