<nav class="">
  <div class="navBar d-flex justify-content-between">
    <div class="pe-3">
      <h2 class="pt-2">Speedo Transfer</h2>
    </div>
    <div class="d-flex justify-content-center align-items-center">
      <ul class="d-flex pt-3 list-unstyled pageList">
        <a routerLink="/home" routerLinkActive="active-link"
          ><li class="px-3">Home</li></a
        >
        <a routerLink="/money-transfer" routerLinkActive="active-link"
          ><li class="px-3">Money Transfer</li></a
        >
        <a routerLink="/my-account" routerLinkActive="active-link"
          ><li class="px-3">My Account</li></a
        >
        <a routerLink="/help" routerLinkActive="active-link"
          ><li class="px-3">Help</li></a
        >
      </ul>

      <!-- Next Section will be dependent on log-in -->
      <!-- Not Looged In -->

      @if(!this.loggedIn){

      <div class="ps-3 d-flex">
        <button
          type="button"
          class="btn btn-outline-dark buttonClass"
          (click)="this.router.navigate(['login'])"
        >
          Login
        </button>
        <button
          type="button"
          class="btn ms-3 buttonReg"
          (click)="this.router.navigate(['register'])"
        >
          Register Now
        </button>
      </div>
      } @else{

      <div class="dropdown">
        <button
          class="btn dropdown-toggle userName"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          aria-haspopup="true"
          (click)="toggleIconVisibility()"
        >
          <span class="userInitials rounded-circle">{{
            getUserInitials()
          }}</span>
          {{ userInfo?.name }}
          <span class="icon ps-1" (click)="toggleIconVisibility()">
            <i
              class="fa pe-3"
              [ngClass]="
                iconChange ? 'fa-solid fa-angle-up' : 'fa-solid fa-angle-down'
              "
            ></i>
          </span>
        </button>
        <ul class="dropdown-menu rounded">
          <li class="border-bottom">
            <a class="dropdown-item" routerLink="/my-account">My Account</a>
          </li>
          <li class="border-bottom">
            <a class="dropdown-item" routerLink="/my-account/payments-history"
              >Payment History</a
            >
          </li>
          <li class="border-bottom">
            <a class="dropdown-item" routerLink="/my-account/settings"
              >Settings</a
            >
          </li>
          <li class="border-bottom">
            <a class="dropdown-item" routerLink="/my-account/change-password"
              >Change Password</a
            >
          </li>
          <li>
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </li>
        </ul>
      </div>
      }

      <!-- Logged In -->
    </div>
  </div>
</nav>
