@import "../variables";

div {
  div {
    h2 {
      font-weight: 600;
    }
  }
}

nav {
  @include respond-to(x-large) {
    .navBar {
      padding: 10px 40px;
      h2 {
        font-size: 20px;
        padding: 0px;
      }
      .buttonReg,
      .buttonClass {
        font-size: 14px;
        padding: 10px 20px;
      }
      ul {
        font-size: 14px;
      }
    }
  }
}

.navBar {
  padding: 10px 96px;
}

a {
  text-decoration: none;
  color: map-get($theme-colors, "black");
  &:hover {
    color: map-get($theme-colors, "purple");
  }
}

a:active {
  color: map-get($map: $theme-colors, $key: "purple");
}

li {
  font-weight: 500;
}

.pageList {
  margin-right: 50px;
}

.buttonClass {
  padding: 16px 32px;
}

.buttonReg {
  padding: 16px 32px;
  color: white;
  background-color: map-get($theme-colors, "purple");
}

.userName {
  color: #3c3a37;
  font-family: inter;
  font-weight: 600;
  font-size: 20px;
}

.userInitials {
  color: #3c3a37;
  background-color: #e3e2e2;
  padding: 10px;
  margin-right: 5px;
}

.dropdown-toggle::after {
  display: none !important;
}

.dropdown {
  ul {
    padding: 20px 20px;
    li {
      padding: 16px 8px;
      &:hover {
        color: map-get($map: $theme-colors, $key: "purple");
      }
    }
  }
}

.dropdown-item {
  a {
    color: #3c3a37;
    font-weight: 500;
    padding-bottom: 0px;
  }
}

.dropdown-toggle:focus {
  border: 0;
}
