@import "../variables";

// nav {
//   border: 1px solid;
// }

div {
  div {
    h2 {
      font-weight: 600;
    }
  }
}

a {
  text-decoration: none;
  color: map-get($theme-colors, "black");
}

a:active {
  color: map-get($map: $theme-colors, $key: "purple");
}

li {
  font-weight: 500;
}

.buttonClass {
  padding: 16px 32px;
}

.buttonReg {
  padding: 16px 32px;
  color: white;
  background-color: map-get($theme-colors, "purple");
}

// .dropdown-content {
//   display: none;
//   position: absolute;
//   background-color: #f9f9f9;
//   min-width: 160px;
//   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
//   z-index: 1;
// }

// .dropdown-content a {
//   float: none;
//   color: black;
//   padding: 12px 16px;
//   text-decoration: none;
//   display: block;
//   text-align: left;
// }

// .dropdown-content a:hover {
//   background-color: #ddd;
// }

// .dropdown:active .dropdown-content {
//   display: block;
// }

// .dropdown .dropbtn {
//   font-size: 16px;
//   border: none;
//   outline: none;
//   color: map-get($map: $theme-colors, $key: "black");
//   padding: 14px 16px;
//   background-color: inherit;
//   font-family: inherit;
//   margin: 0;
// }
