<app-header></app-header>

<div class="content-login d-flex flex-column text-center">
  <div class="content-login--header d-flex flex-column">
    <h1>Login</h1>
    <p>New Account? <a href="">Sign Up</a></p>
  </div>
  <div class="card-login d-flex flex-column mx-auto text-start shadow mb-5">
    <div class="card-login--header d-flex flex-column">
      <h2>Login here</h2>
      <p>Welcome back. Login to your account</p>
    </div>

    <div class="card-login--form">
      <form
        [formGroup]="loginForm"
        (ngSubmit)="onSubmit(loginForm)"
        class="login-form"
      >
        <div>
          <label for="email" class="pb-3">Your email address</label><br />
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Email@gmail.com"
            formControlName="email"
            class="w-100 rounded border ps-4 py-3"
          /><br />
          @if(loginForm.get('email')?.invalid && loginForm.get('email')?.dirty){
          <small class="error">This field is required</small>
          }
        </div>
        <div>
          <label for="pass" class="pb-3 mt-3">Password</label>
          <div class="password-container">
            <input
              type="password"
              id="pass"
              name="password"
              [type]="showPassword ? 'text' : 'password'"
              placeholder="************"
              formControlName="password"
              (click)="togglePasswordVisibility()"
              class="w-100 rounded border ps-4 py-3"
              autocomplete="off"
            /><span class="icon" (click)="togglePasswordVisibility()">
              <i
                class="fa pe-3"
                [ngClass]="
                  showPassword ? 'fa-regular fa-eye' : 'fa-regular fa-eye-slash'
                "
              ></i>
            </span>

            <br />
            @if(loginForm.get('password')?.errors?.['passwordStrength'] &&
            loginForm.get('password')?.touched){
            <small class="error">
              Password must be at least 6 characters long and include at least
              one uppercase letter, one lowercase letter, and one special
              character (e.g., $%^).
            </small>
            }
          </div>
        </div>

        <button
          type="button"
          class="btn btn-outline-dark buttonClass mt-4 w-100"
        >
          Login
        </button>
      </form>
    </div>
    <p class="createAcc">
      Don't have an account?
      <a href="">Create Account</a>
    </p>
  </div>
</div>

<!-- <app-input></app-input> -->
<app-small-footer></app-small-footer>
