<div
  class="tab-pane fade show active"
  id="list-profile"
  role="tabpanel"
  aria-labelledby="list-profile-list"
>
  <div class="myPro">
    <div></div>
    <div class="Title">Payment History</div>
    <div class="acc">
      <div class="accNum">Account Number: 6785 4987 6543</div>

      <div class="accDet">
        <div class="half1">
          <div class="ad">Account Details</div>
          <div class="rn">Recipient Name</div>
        </div>
        <div class="half2">
          <div class="ad">Total Price : 1000EGP</div>
          <div class="rn">Johnathon Smith</div>
        </div>
      </div>
    </div>

    <div class="acc">
      <div class="accNum">Account Number: 6785 4987 6543</div>

      <div class="accDet">
        <div class="half1">
          <div class="ad">Account Details</div>
          <div class="rn">Recipient Name</div>
        </div>
        <div class="half2">
          <div class="ad">Total Price : 1000EGP</div>
          <div class="rn">Johnathon Smith</div>
        </div>
      </div>
    </div>
  </div>
</div>
