<app-navbar></app-navbar>
<header class="d-flex justify-content-between">
  <div class="d-flex flex-column justify-content-center align-content-center">
    <h1>My Account</h1>
    <ul class="d-flex ps-0">
      <li class="list-unstyled home">Home</li>
      <li class="help">My Account</li>
    </ul>
  </div>
  <div>
    <img src="currency.png" alt="currency photo" />
  </div>
</header>
<div class="layout">
  <app-profile-settings></app-profile-settings>
</div>
<app-mobile-app></app-mobile-app>
<app-footer></app-footer>

<!-- <app-profile-settings></app-profile-settings> -->
