<header class="d-flex justify-content-between">
  <div class="d-flex flex-column justify-content-center align-content-center">
    <h1>Error</h1>
    <ul class="d-flex ps-0">
      <li class="list-unstyled home">Home</li>
      <li class="error">Error</li>
    </ul>
  </div>
  <div>
    <img src="currency.png" alt="currency photo" />
  </div>
</header>

<section class="errorSection mx-auto">
  <div class="d-flex flex-column text-center">
    <h2>Error</h2>
    <img src="404.png" alt="404 Not Found" />
    <p>
      A profile is required to perform this action. Please log in or create an
      account.
    </p>
    <div>
      <button type="button" class="btn ms-3 buttonReg">Register Now</button>
    </div>
  </div>
</section>
