/* You can add global styles to this file, and also import other style files */

@import "bootstrap/scss/bootstrap";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.body-medium {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.body-regular {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.p-semi-bold {
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}
.p-regular {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
