<section>
  <div id="footerId" class="mx-auto text-center">
    <div class="pt-5">
      <h3 class="">Speedo Transfer</h3>
      <p class="paragraph">
        Lorem Ipsumis simply dummy text of the printing and typesetting
        industry.
      </p>
      <h5>Contact Info</h5>
      <p>
        Email:
        <a href="mailto:BM19888@banquemisr.com"
          >BM00000&#64;SpeedoTransfer.com</a
        >
      </p>
      <p class="pb-5">Phone: 00000</p>
    </div>
    <div class="lastFooter">
      <p>All Rights Reserved for Speedo Transfer ©2024</p>
    </div>
  </div>
</section>
