<div
  class="tab-pane fade show active"
  id="list-home"
  role="tabpanel"
  aria-labelledby="list-home-list"
>
  <div class="myPro">
    <div></div>
    <div class="Title">My Profile</div>
    <div class="parent">
      <div class="ch1B">10000EGP</div>
      <div class="ch2B">Balance</div>
    </div>

    <div class="Pform">
      <div class="ch1F">
        <div class="ch1Ffont">FirstName:</div>
        <div class="ch1Ffont">Email:</div>
        <div class="ch1Ffont">Phone:</div>
        <div class="ch1Ffont">Gender:</div>
      </div>

      <div class="ch2F">
        <div class="ch2Ffont">Jonathon Smith</div>
        <div class="ch2Ffont">jhonathonsmith&#64;gmail.com</div>
        <div class="ch2Ffont">+880125412624</div>
        <div class="ch2Ffont">Male</div>
      </div>
    </div>
  </div>
</div>

