<header class="d-flex justify-content-between">
  <div class="d-flex flex-column justify-content-center align-content-center">
    <h1>Money Transfer</h1>
    <ul class="d-flex">
      <li class="list-unstyled home body-medium">Home</li>
      <li class="about-us body-medium">About Us</li>
      <li class="amount body-medium">Amount</li>
    </ul>
  </div>
  <div>
    <img src="currency.png" alt="currency photo" />
  </div>
</header>
<div class="d-flex flex-column justify-content-center align-items-center">
  <div
    class="progress-steps d-flex flex-column justify-content-center align-items-center"
  >
    <div
      class="progress-steps-imgs d-flex justify-content-center align-items-center"
    >
      <img src="/Step1.svg" alt="step1" class="step" />
      <img src="/LineRed.svg" alt="line" class="line" />
      <img src="/Step2Grey.svg" alt="step2" class="step" />
      <img src="/LineGrey.svg" alt="line" class="line" />
      <img src="/Step3Grey.svg" alt="step3" class="step" />
    </div>
    <div class="progress-steps-text d-flex">
      <p class="amount body-medium">Amount</p>
      <p class="confirmation body-regular">confirmation</p>
      <p class="payement body-regular">Payement</p>
    </div>
  </div>
</div>
